.video-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  .custom-video {
    width: 100%;
    border-radius: 10px;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .progress-bar {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #ddd; 
    cursor: pointer;
    outline: none;
  }
  
  .progress-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
  }
  
  .progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fee64e;
    cursor: pointer;
    margin-top: -5px;
  }
  
  .progress-bar::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
  }
  
  .progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fee64e;
    cursor: pointer;
  }
  
  .progress-bar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #fee64e var(--progress), #ddd var(--progress));
  }
  
  .progress-bar::-moz-range-track {
    background: linear-gradient(to right, #fee64e var(--progress), #ddd var(--progress));
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: #fee64e;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #fee64e;
  }
}
